
.nav{
    background-color: rgb(216, 216, 216);
    display: block;
}

ul{
    list-style-type: none;  
    display:flex;
    flex-direction: row;
    justify-content: end;
    margin:0;
}

ul button{
    background-color: rgb(63, 130, 231);
    padding:.5em;
    margin:1em;
    display:inline-block;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    color:white;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
}
ul button:hover{
    outline:solid rgb(48, 19, 153) 1px
}
ul button:active{
    color:rgb(0, 14, 143);
}