
<form>
    <div class="container">
        <div class="objects-container">
            <div class="objects">
                <p>Add Name</p><input type="text" name='name' [(ngModel)]="client.name" placeholder="Name" autofocus>
                <p>Add Identity Card</p><input type="text" name='identity' [(ngModel)]="client.identityCard" placeholder="Identity Card">
                <p>Add Age</p><input type="text" name='age' [(ngModel)]="client.age" placeholder="Age">
                <p>Add Cellphone</p><input type="text" name='cell' [(ngModel)]="client.cellNumber" placeholder="Cellphone Number">
                <br>
                <button (click) = 'validateClient()'>save</button>
            </div>
        </div>
    </div>
    
</form>
    