
<form>
    <div class="container">
        <div class="objects-container">
            <div class="objects">
                <p><strong>Add Client Name</strong></p><p class = "default">{{client.name}}</p>
                <p><strong>Add Service Name</strong></p><p class = "default">{{product.name}}</p>
                <p><strong>Add Location Service</strong></p><input type="text" name='locationProduct' [(ngModel)]="billings.locationProduct" placeholder="Location Service">
                <p><strong>Add Afiliation Price</strong></p><input type="text" name='afiliationPrice' [(ngModel)]="billings.afiliatedPrice" placeholder="Instalation Price">
                <p><strong>Add Fiscal Address</strong></p><input type="text" name='fiscalAddress' [(ngModel)]="billings.fiscalAddress" placeholder="Fiscal Address">
                <br>
                <button  class='save' (click) = "test()">save</button>
            </div>
        </div>
    </div>
    
</form>
    