

<div class="container">
    <div class="objects-container">
        <div class = 'objects' *ngFor="let billing of billings">
            <div><p><strong> billing clientName : </strong></p><p>{{billing.clientName}}</p></div>
            <div><p><strong> billing locationProduct : </strong></p><p>{{billing.locationProduct}}</p></div>
            <div><p><strong> billing afiliatedPrice : </strong></p><p>{{billing.afiliatedPrice}}</p></div>
            <div><p><strong> billing fiscalAddress : </strong></p><p>{{billing.fiscalAddress}}</p></div>
            <div><p><strong> billing serviceName : </strong></p><p>{{billing.serviceName}}</p></div>
            <div><p><strong> billing ProductId : </strong></p><p>{{billing.ProductId}}</p></div>
            <div><p><strong> billing ClientId : </strong></p><p>{{billing.ClientId}}</p></div>
            <div class="buttons">
                <button class = 'delete'(click) = 'deleteBilling(billing.id)' >Delete</button>
            </div>
        </div>
    </div>
</div>