

<div class="container">
    <div class="objects-container">
        <div class = 'objects' *ngFor="let billing of billings">
            <div><p><strong> Billing clientName : </strong></p><p>{{billing.clientName}}</p></div>
            <div><p><strong> Billing serviceName : </strong></p><p>{{billing.serviceName}}</p></div>
            <div><p><strong> Billing Location Product : </strong></p><p>{{billing.locationProduct}}</p></div>
            <div><p><strong> Billing Afiliated Price : </strong></p><p>{{billing.afiliatedPrice}}</p></div>
            <div><p><strong> Billing Fiscal Address : </strong></p><p>{{billing.fiscalAddress}}</p></div>
            <div><p><strong> Billing ProductId : </strong></p><p>{{billing.ProductId}}</p></div>
            <div><p><strong> Billing ClientId : </strong></p><p>{{billing.ClientId}}</p></div>
            <div class="buttons">
                <button class = 'delete'(click) = 'deleteBilling(billing.id)' >Delete</button>
                <button class = ''(click) = 'toClient(billing.ClientId)' >See Client</button>
                <button class = ''(click) = 'toProduct(billing.ProductId)' >See Service</button>
                
            </div>
        </div>
    </div>
</div>