
<div class="container">
    <div class="objects-container">
        <div class = 'objects' *ngFor="let client of clients">
            <div><p><strong> Client Id : </strong></p><p>{{client.id}}</p></div>
            <div><p><strong> Client Name : </strong></p><p>{{client.name}}</p></div>
            <div><p><strong> Client age : </strong></p><p>{{client.age}}</p></div>
            <div><p><strong> Client Cellphone : </strong></p><p>{{client.cellNumber}}</p></div>
            <div class="buttons">
                <button class = 'delete'(click) = 'deleteClient(client.id)' >Delete</button>
                <button (click) = 'update(client.id)'>Update</button>
                <button class = 'service'(click) = 'addService(client.id)'>Add Service</button>
                <button class="afiliate" (click)="SeeBillings(client.id)" >See Billings with this Client</button>

            </div>
        </div>
    </div>
</div>